.button {
  height: 36px;
  min-width: 140px;
  color: #fff;
  font-size: 14px;
  background-image: linear-gradient(to right, #ff9800, #f7695d);
  border-radius: 20px;
  border: none;
  outline: none;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}