.home-banner {
  height: 210px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  img{
    width: 300px;
  }
  &__detail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
