.list-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;

  &--2col {
    grid-template-columns: repeat(2, 1fr);
  }
  &--4col {
    grid-template-columns: repeat(4, 1fr);
  }
}
