.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  flex-flow: wrap;
  width: 100%;
  padding: 0px 15px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    text-align: center;
    margin: 20px 0px;

    @media screen and (max-width: 765px) {
      width: 20%;
    }
  }

  &__title {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
  }

  &__img {
    width: 45px;
    height: 45px;
  }
}
