.tabs {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    padding: 8px 20px;
    border-bottom: 1px rgba($color: #000, $alpha: 0.1) solid;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    transition: all 0.3s;
    &--select {
      font-weight: bold;
      color: #f7931e;
      border: 1px solid #f7931e;
    }

    &:hover {
      font-weight: bold;
      color: #f7931e;
      border: 1px solid #f7931e;
      opacity: 0.9;
    }
  }

  &__body {
    background-color: #fff;
  }
}