.input-form-product {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;

  &__title {
    width: 180px;
    font-size: 13px;
    position: relative;
    top: 10px;
    label {
      margin: 0px !important;
    }
  }

  &__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__err {
    margin-top: 5px;
    font-size: 13px;
    color: #dc3545;
  }
}
